In [3]:
import pandas as pd
from tqdm import tqdm_notebook

prefix = 'data/'

In [4]:
train_df = pd.read_csv(prefix + 'train.txt', sep='\t', header=None) 
train_df = train_df[train_df.columns[1:3]]
train_df.head()

   1                                                  2
0  1  It feels like just a few days ago it was the l...
1  1  I love my mom . No matter what we go through ,...
2  1      Bump that music ... #imtryingtosleep #sarcasm
3  0  Mexican and black jokes are pretty much the sa...
4  0                        How to find work you love :

In [5]:
test_df = pd.read_csv(prefix + 'test.txt', sep='\t', header=None)
test_df = test_df[test_df.columns[1:3]]
test_df.head()

   1                                                  2
0  0  about it and I called my mom at lunch but she ...
1  0  About to become a comedian so I can speak what...
2  0  About to hear Robert Shiller speak at my schoo...
3  0  About to listen to for a third time :) I think...
4  0  About to listen to speak! His books have for s...

In [6]:
train_df = pd.DataFrame({
    'id':range(len(train_df)),
    'label':train_df[1],
    'alpha':['a']*train_df.shape[0],
    'text': train_df[2].replace(r'\n', ' ', regex=True)
})

train_df.head()

   id  label alpha                                               text
0   0      1     a  It feels like just a few days ago it was the l...
1   1      1     a  I love my mom . No matter what we go through ,...
2   2      1     a      Bump that music ... #imtryingtosleep #sarcasm
3   3      0     a  Mexican and black jokes are pretty much the sa...
4   4      0     a                        How to find work you love :

In [7]:
dev_df = pd.DataFrame({
    'id':range(len(test_df)),
    'label':test_df[1],
    'alpha':['a']*test_df.shape[0],
    'text': test_df[2].replace(r'\n', ' ', regex=True)
})

dev_df.head()

   id  label alpha                                               text
0   0      0     a  about it and I called my mom at lunch but she ...
1   1      0     a  About to become a comedian so I can speak what...
2   2      0     a  About to hear Robert Shiller speak at my schoo...
3   3      0     a  About to listen to for a third time :) I think...
4   4      0     a  About to listen to speak! His books have for s...

In [9]:
train_df.to_csv('data/train.tsv', sep='\t', index=False, header=False, columns=train_df.columns)
dev_df.to_csv('data/dev.tsv', sep='\t', index=False, header=False, columns=dev_df.columns)